* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html{
    /* added an html element for smooth scrolling- always a nice touch to given the website a more modern feel*/
    scroll-behavior: smooth;
}

body {
    /* I added the font-family under the body because it is all inclusive so the id-divisions below do not need to repeat the information*/

    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline;
    font-size: 48px;  
    color: #d9dcd6;
}

/* Removed excess header when moved header under BODY*/

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;   
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;

}

.header nav ul li {
    display: inline;
    margin-left: 25px;  
}

/* Added buttons here for users to be able to hover and see what they will be selecting and navigating to section, kept the same background color as header, removed padding and border*/

button {
    font-size: 80%;
    background-color: #2a607c;
    padding: 0%;
    border: none;

}
 /* Hover style is bold, and added button;focus for accessbility (if users need to tab over to it) */

button:hover {
    font-weight: bold;
}

button:focus {
    outline: solid;
    border-color: black;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    padding: 10px;
    color: #ffffff;

}

.benefit-brand {
    margin-bottom: 32px;
    padding: 10px;
    color: #ffffff;

}

.benefit-cost {
    margin-bottom: 32px;
    padding: 10px;
    color: #ffffff;

}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* I changed the max height to 320px so '.search-engine-optization', '.online-reputation-management', and '.social-media-marketing' would visually fall inline to the .benefits division*/
.search-engine-optimization {
    margin-bottom: 25px;
    padding: 50px;
    height: 320px;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 320px;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 320px;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
